body {
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 10%;
    text-align: center;
    background:linear-gradient(0deg, rgba(15, 20, 19, 0.95), rgba(15, 23, 22, 0.55)), url(https://cdn.shopify.com/s/files/1/0574/1291/1295/products/11329403-0929128860d8d43410fb160d8d43410fb4162482283660d8d43410fb9_7d440343-c73f-46bf-b41e-99618c4affac_599x.jpg?v=1653401507);
    background-size: cover;
    background-attachment: fixed;
    color:rgb(217, 238, 236);
}

header {
    padding-top: 10%;
    align-content: center;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size:smaller;
    font-weight: 300;
    margin-top: 30px;
}

section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
}

#audio {
    margin-top: 20px;
}