body {
    margin: auto;
    width: 800px;
    max-width: 90%;
}

@media only screen and (min-width: 640px) {
    body {
        background-color: #eaf6ff;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 1rem -10px;
}

aside{
    /* width: 170px; */
    margin: 10px;
    font-size: 0.8rem;
}

li{
    width: 100%;
}

@media only screen and (min-width: 480px) {
    li {
        width: 50%;
    }
}

@media only screen and (min-width: 640px) {
    li {
        width: 25%;
    }
}